body {
  width: 100%;
  height: 100%;
  margin: 0%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #FCCA46; }

* {
  margin: 0%;
  padding: 0%; }

a {
  text-decoration: none;
  color: green; }

a:hover, a:active {
  color: black; }

ul li a {
  font-size: 20px; }

ul li a:hover {
  font-weight: bold;
  font-size: 23px; }

section div h2:hover {
  animation: animate__fadeInLeft; }

section h3 a:hover {
  animation-name: animate__pulse;
  font-size: 30px; }

h3 {
  align-items: center;
  padding: 25px; }

header div a img:hover {
  padding: 7px;
  transition: all 1s; }

.infoFooter {
  margin-top: 13px;
  padding: 5px;
  background-color: green; }

h5 {
  color: #FCCA46; }

.h2 {
  background-color: #FCCA46;
  border-radius: 5px; }

.col-sm {
  background-color: #3F612D;
  padding: 10px;
  margin: 0%; }

.col-sm img:hover {
  margin: 5px;
  transition: all 1s; }

.img-fluid {
  background-size: auto;
  padding: 0%; }

div h4 {
  color: #FCCA46; }

.stretched-link {
  text-decoration: underline; }

.navbar {
  border-radius: 4px;
}

.img-fluid {
  width: 100%; 
  height: auto;
}

.logoMobile {
  display: flex;
  justify-content:center;
  margin: 10px;
}


@media screen and (max-width: 376px) {
  .bienvenidos {
    font-size: 5vw;
  }
}